.contacts
    a.contact(href="tel:+163373128")
        i.contact__icon.fa.fa-mobile(aria-hidden="true")
        span.contact__text 6337 3128
    a.contact(href="mailto:info@buissnes.co")
        i.contact__icon.contact__icon--email.fa.fa-envelope(aria-hidden="true")
        span.contact__text info@buissnes.co
    a.facebook-icon(href="http://www.facebook.com")
        i.fa.fa-facebook(aria-hidden="true")