.header{
    &__top{
        background-color:#F0F2F4;
        border-bottom: 1px solid #e2e2e2;
    }
    &__bottom{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding:42px 0px 32px;

        @media(max-width: 1000px){
            flex-direction: column;
        }
        .button{
            @media(max-width: 1080px){
                margin-right: 15px;
            }  
        }

        .logo{
            @media(max-width: 1080px){
                margin-left:15px;
            }
        }
        
    }
}

.contacts{ 
    text-align:right;
    @media(max-width: 1000px){
        margin-right: 15px;
    }
     
     .contact{
         display: inline-block;
         vertical-align: top;
         padding: 10px 10px 8px;
         color:$font-color;
         transition: 0.3s;

         &:hover{
             color:lighten($font-color ,20%);
         }

         &__icon{
             margin-right:7px;
             font-size : 1.5rem;
             vertical-align: middle;

             &--email{
                 font-size:1.2rem;
             }
         }
         
     }

     .facebook-icon{
        display: inline-block;
        margin:7px 0;
        padding:5px 8px 1px;
        background-color: #1287bf;
        color: #fff;
        border-radius: 3px;
     }

}   
   

