.button{
    display:inline-block;
    border-radius: 3px;
    padding: 10px 22px 7px;
    font-family: $ff-main-bold;
    color: $font-btn;
    text-decoration: none;
    @media(max-width:600px){
        padding: 6px 10px 4px;
    }

    &--red{
        background-color: $font-main;
        transition: 0.3s;

        &:hover{
            background-color:lighten($font-main ,10%);
        }
    
    }
    &--yellow{
        background-color: $hero-btn;
        transition: 0.3s;

        &:hover{
            background-color:lighten($hero-btn ,10%);
        }
    
        
    }  
    &--text-uppercase{
        text-transform: uppercase;
    } 








        
}