.icon{
    margin: auto auto 23px auto;
    @media (max-width:700px){
        width:calc(167px / 1.5);
        height:calc(160px / 1.5);
    }
    @media (max-width:420px){
        width:calc(167px / 3);
        height:calc(160px / 3);
    }
}

.icon--like{
    @include sprite($like);
}
.icon--book{
    @include sprite($book);
}
.icon--message{
    @include sprite($message);
}