$ff-main : "helvetica-neue-regular";
$ff-main-bold: "helvetica-neue-bold";
$ff-main-light: "helvetica-neue-light";
$ff-steps: "georgia-bold";
$font-color: #424242;
$font-main: #de2b24;
$font-btn: #fff;
$hero-btn: #f8cd53;
$font-color-light:#5c5c5c;
$footer-bg: #2a2a2a;
$footer-copy: #515151;
$color-copy:#cecece;
